*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #004236;
    /* position: relative; */
}

main{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 2.5rem;
    padding-top: 1.5rem;
    color: #f4f4f4;
    
    
}

.container{
    background-color: #f4f4f4;
    width: 85%;
    /* min-height: 65vh;
    max-height: 65vh; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: center;
    text-align: center;
    /* margin-top: 1.4rem;
    margin-bottom: 1rem; */
    border-radius: 2rem;
    padding: 1.5rem;    
    gap: 0.4rem;    
    height: 65%;
}

@media (min-width:800px) {
    .container {
        flex-direction: row;
    }
}

.container .img-container{
    background-color: blue;
    /* max-width: 50%; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* flex-basis: 30vh; */
    /* min-height: 20vh;
    max-height: 20vh;
    width: auto; */
    width: 50%;

    
    
    
}

img{
    /* background-color: blue;  */
    background-color:black;
    height: 100%;
    width: 100%;
    /* max-width: 45%; */
    /* height: auto; */
    

    
    
}


.container .author{
 color: #3a857e;
}

.container .infos-container {
    display: flex;
    flex-direction: column;
    background-color: brown;
    gap: 0.2rem;
    min-height: 60%;
    /* min-height: 80vh; */
    /* min-height: 80vh; */
    /* flex-basis: 70vh; */
    

}


@media (min-width:900px) {
    .infos-container {
        width: 50%;
    }
}

.container .info{
    text-align: justify;
}






.button-container{
    /* background-color: blueviolet; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border-style: none;
    border: none;
    font-size: 2.5rem;
    color: #f4f4f4;
    align-self: center;
}


footer {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    /* margin-top: auto */
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-top: 0.8rem; */
    color: #3a857e;
    /* position: relative; */
    /* height: 20vh; */
    padding-bottom: 1rem;
}

footer p{
    /* position: absolute;
    bottom: 50%; */
}

footer a {
    text-decoration: none;
    color: #3a857e;            
}